[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
opencv-python = "*"
dlib = "*"
face_recognition = "*"
pamela = "*"
python-xlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
